* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

#navigation>div:last-child {
    flex-grow: 1;
}

#navigation {
    position: relative;
    z-index: 1000;
    display: flex;
}

#menu {
    visibility: hidden;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 100;
}

#hamburger-toggle {
    opacity: 0;
    cursor: pointer;
    position: absolute;
}

#hamburger {
    display: block;
    margin-left: auto;
    padding: 0.5rem;
    cursor: pointer;
    width: 1.4rem;
    height: 1.4rem;
    box-sizing: content-box;
    transition: transform 0.2s ease;
}

#hamburger .slice {
    --slice-height: 2px;
    display: block;
    position: relative;
    width: 100%;
    height: var(--slice-height, 2px);
    border-radius: var(--slice-height);
    transition: all 0.2s ease;
    background-color: #ffffff75;
    opacity: 90%;
}

#hamburger .slice {
    margin-top: 22%;
    /* Fallback to produce something hamburger-ish if calc is not available */
    margin-top: calc(33% - var(--slice-height));
    top: calc((33% - var(--slice-height)) / -2);
}

#hamburger-toggle:checked~#menu {
    visibility: visible;
    transform: rotateX(0deg);
    opacity: 1;
}

#hamburger-toggle:checked~#hamburger .slice:nth-child(1) {
    top: calc(50% - 33% + var(--slice-height) / 2);
    transform: rotate(45deg);
}

#hamburger-toggle:checked~#hamburger .slice:nth-child(2) {
    opacity: 0;
}

#hamburger-toggle:checked~#hamburger .slice:nth-child(3) {
    top: calc(-50% + var(--slice-height) / 2);
    transform: rotate(-45deg);
}

/*
 * Additional flair to make the demo look better. Do not take for gospel or best practice.
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main {
    height: 100vh;
    background: #fdfdfd;
}

#navigation {
    padding: 1vh 2vw;

}

#menu {
    background: rgb(212, 210, 215);
}

li {
    list-style: none;
}

#navigation a {
    display: block;
    padding: 1rem;
    text-decoration: none;
}

#menu {
    position: absolute;
    top: calc(100% + 1px);
    right: 0;
    min-width: 20vw;
    width: fit-content;
    height: 100vh;

    transform-origin: top right;
    transform: rotateY(-90deg);
    opacity: 0.3;
    transition: 150ms all 100ms ease-out;
    border-right: 1px solid gray;
}

article {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    max-width: 30rem;
    margin: 5vh 10vw;
}

p {
    line-height: 1.6rem;
}

h1 {
    line-height: 3.2rem;
}

q {
    font-style: italic;
}









body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.copyright {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
    text-align: center;
    padding-bottom: .5rem;
    text-decoration: none;
    color: #fff3;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin: 20px;
    padding: 20px;
    max-width: 500px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 0 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    text-shadow: 2px 2px 3px #00000056;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.2s linear;
    background-color: #fff;
    box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.9);
}

.card__title {
    grid-row: 3/4;
    font-weight: 400;
    color: #ffffff;
}

.card-1 {
    background-color: #1fe4f5;
}

.card-2 {
    background-color: #fbc1cc;
}

.card-3 {
    background-color: #76b2fe;
}

.card-4 {
    background-color: #60efbc;
}

.card-5 {
    background-color: #f588d8;
}

.cards {
    justify-content: center;
}

#generate {
    font-size: 40px;
    line-height: 1;
    cursor: pointer;
    display: inline;
    color: #ffffff75;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
        color: #fff;
    }
}